<div class="form-style">
  <%= form_for @game do |f| %>
    <%= f.label "Type your initials:" %>
    <%= f.text_field :player %>
    <br><br>
    <p><button class="small" type="submit">Submit</button></p>
  <% end %>
</div>
