<center>
<h1 id='welcome'>PEPE PICKER</h1>

<%= form_for @game do |f| %>
<button type="submit" class="big">NEW GAME</button>
<% end %>

<div class="leaderboard-container">
  <h1>LEADERBOARD</h1>
  <table class="leaderboard">
    <tr>
      <th>PLAYER</th>
      <th>SCORE</th>
    </tr>
    <% @games.each do |game| %>
    <% if game.turns >= 20 %>
    <tr>
      <td><%= game.player %></td>
      <td><%= game.score %></td>
    </tr>
    <% end %>
      <% end %>
  </table>
</div>
