/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: #232928;
  color: white;
  font-family: 'Press Start 2P', cursive;
  /*text-align: center;*/
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

img {
  image-rendering: pixelated;
}

.leaderboard {
  font-size: 2em;
}

.pepe-logo {
  width: 100px;
  margin: 10px;
}
table, th, td {
  text-align: center;
  // border: 3px solid white;
  padding: 30px;
  font-size: .8em;
}

.imgOverlay1 {
  width: 160px;
  height: 160px;
  // border: 3px solid white;
  box-shadow: 5px 8px;
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
}

.imgOverlay1:active {
  box-shadow: 0px 0px;
  // margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 5px;
  margin-top: 5px;
  display: inline-block;
}

.imgOverlay2 {
  width: 160px;
  height: 160px;
  // border: 3px solid white;
  box-shadow: 5px 8px;
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
}

.imgOverlay2:active {
  box-shadow: 0px 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 5px;
  margin-top: 5px;
  display: inline-block;
}

.score1, .score2, .imagesShow {
  display: inline-block;
}

.not-clickable {
  pointer-events: none;
  display: inline-block;
}

#blink {
text-align:center;
background-color: #232928;
color:#F00;
margin: 0;
padding:20px;
}

#blink span {
font-size:2em;
font-weight:bold;
display:block;
}

#welcome {
  color: #00FF00;
  font-size: 4em;
}

.image-card {
  display: inline-block;
}

.leaderboard-container {
  margin: 50px;
}

button.big {
  background-color: #232928;
  border: 3px solid white;
  padding: 15px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  box-shadow: 5px 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

button.big:active {
  box-shadow: 0px 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 5px;
  margin-top: 5px;
}

button.small {
  background-color: #232928;
  border: 2px solid #FFFF00;
  padding: 10px;
  color: #FFFF00;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3em;
  box-shadow: 3px 3px;
  margin-bottom: 3px;
  margin-right: 3px;
}

button.big:active {
  box-shadow: 0px 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 3px;
  margin-top: 3px;
}

button:selection {
  border: none;
}

.buttons {
  margin: 40px;
}

input {
  font-size: 1.5em;
  width: 20%;
  font-family: 'Press Start 2P', cursive;
  background-color: #232928;
  color: white;
  border: 0px;
  border-bottom: 2px solid white;
}

.form-style {
  font-size: 1.8em;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  border: 0px;
  color: white;
}

.game-over {
  color: red;
  font-size: 3em;
}

.ranking1 {
  color: orange;
}

.ranking2 {
  color: yellow;
}

.ranking3 {
  color: green;
}

.ranking4 {
  color: #2ECCFA;
}

.ranking5 {
  color: #FE2EF7;
}
.new-game-button {
  padding: 30px;
}
.playerScore {
  color: red;
}

#myModal, #myModal2 {
  color: white;
  position: absolute;
  overflow: scroll;
}

.modal-body {
  background-color: #232928;
}

.modal-card {
  display: inline-block;
}

// #pepeGuide {
//   display: none;
// }

#myModalLabel {
  color: black;
}
