/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #232928;
  color: white;
  font-family: 'Press Start 2P', cursive;
  /*text-align: center;*/
}

img {
  image-rendering: pixelated;
}

.leaderboard {
  // width: 20%;
}

.imgOverlay1 {
  width: 160px;
  height: 160px;
  border: 3px solid white;
  box-shadow: 5px 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
}

.imgOverlay1:active {
  box-shadow: 0px 0px;
  // margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 5px;
  margin-top: 5px;
  display: inline-block;
}

.imgOverlay2 {
  width: 160px;
  height: 160px;
  border: 3px solid white;
  box-shadow: 5px 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
}

.imgOverlay2:active {
  box-shadow: 0px 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 5px;
  margin-top: 5px;
  display: inline-block;
}

// .imgOverlay:hover { background: url(<%= @image1 %>.jpg) no-repeat; }
